/* Regole generali */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

li {
  list-style-type: none;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: gray;
}

.pd {
  padding: 20px 0;
}

.pd-left {
    padding-left: 20px;
}

/* MAIN */

main {
  height: calc(100vh - 100px);
}

/* Main Top */

.main-top {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  top: 0;
  width: calc(100% - 250px);
  right:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}

.upgrade p {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-align: right;
  margin-right: 10px;
  transition: transform .2s;
}
.upgrade p:hover {
  transform: scale(1.1);
  right:0;
}

/* Main Left */

.main-left {
  background-color: black;
  height: 100%;
  float:left;
  width: 250px;
  overflow: hidden;
}

.main-left-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-items .item {
  padding-left: 20px;
}

.menu-items .item:first-child {
  border-left: 2px solid #9bff00;
}

.main-left .logo img {
  width: 60%;
}

.logo-small {
  display: none;
}

.playlist-container {
  flex-grow: 1;
  overflow: auto;
}

.playlist-container h2 {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  padding-bottom: 10px;
}

.crea-playlist  {
  overflow-y: auto;
  height: 60%;
}

.nav-element {
  flex-shrink: 0;
  overflow: hidden;
}

/* hover main left */

.nav-element li:hover {
  color: white;
}

.nav-element a:hover {
  color: white;
}

.crea:hover {
  color:white;
}

/* fine hover main left */

.crea i {
  display: inline-block;
  font-size: 40px;
  line-height: 30px;
  vertical-align: middle;
}

.crea p{
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px;
}

.nome-playlist li {
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.installa-app {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.installa-app p {
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

hr {
  width: 200px;
  background-color: #7f7f7f;
}

.users {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.users img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #7f7f7f;
}

.users h2 {
  color: white;
  font-size: 14px;
  padding-left: 10px;
}

/* menu */

main .item {
  line-height: 25px;
  padding: 5px 0;
}

.menu-items img{
  height: 25px;
  vertical-align: middle;
}

.menu-items a {
  font-size:14px;
}

@media screen and (max-width: 479px) {

  .logo-small {
    display: block;
  }

  .logo-large {
  display: none;
  }

  .main-left .logo img {
    width: 100%;
    padding: 10px;
  }

  .menu-items .item {
    padding: 10px 13px;
  }

  .menu-items .item:first-child {
    border-left: 0;
  }

  .pd {
    padding: 0;
  }

  .pd-left {
    padding-left: 0;
  }

  .menu-items .item a {
    display: none;
  }

  .playlist-container {
    visibility:hidden;
    padding:0;
  }

  .nav-element {
    flex-shrink: 0.1;
    overflow: hidden;
  }

  .installa-app p ,
  hr ,
  .users h2  {
    display: none;
  }

  .installa-app ,
  .users {
    padding: 0;
    justify-content: center;
    margin-bottom: 10px;
  }
}

/* Main Right */

.main-right {
  height: 100%;
  float:left;
  width: calc(100% - 250px);
  overflow: auto;
}

.content {
  overflow: auto;
  background-color: #141922;
  height: 100%;
  width:100%;
  padding: 120px 20px 20px 20px;
}

.content .content-menu {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 padding-bottom: 20px;

}

.content .content-menu li {
  padding-right: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  position:relative;
}

.content .content-menu span  {
  width: 31px;
  height: 2px;
  background-color: #9bff00;
  position: absolute;
  top: 18px;
  left: 25px;
}

.content-menu a:hover {
  color: white;
}

/* Album */

.title {
  color: white;
  padding: 30px 0;
}

.title p {
  font-size: 12px;
  color: gray;
  padding-top:10px;
}

/* album */

.collection-album {
  display: flex;
}

.album {
  width: calc( 100% / 6 );
  padding-right: 10px;
  text-align: center;
}

.contenitore img {
  width: 100%;
  display: block;
}

.contenitore {
 position: relative;
}

.youg .contenitore img ,
.youg .filter {
  border-radius:50%;
}

.einaudi .contenitore img ,
.einaudi .filter {
  border-radius:50%;
}

.subtitle {
  padding-top: 20px;
}

.subtitle h3 {
  color:white;
  font-size: 16px;
  padding-bottom: 10px;
}

.subtitle p {
  color: gray;
  font-size: 12px;
}

.filter {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display: none;
}

.contenitore .filter .play i {
  color: white;
  font-size: 50px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
}

.album:hover .filter {
display: block;
}

/* Fine Album */

@media screen and (max-width: 991px) {

  .album {
   width: calc( 100% / 4 );
 }

  .collection-album {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {

  .album {
   width: calc( 100% / 2 );
 }

  .collection-album {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {

  .main-left {
    width: 50px;
  }

  .main-right {
    width: calc(100% - 50px);
  }

  .main-top {
    width: calc(100% - 50px);
  }

  .album {
   width: calc( 100% / 2 );
 }
  .collection-album {
    flex-wrap: wrap;
  }
}

/* FOOTER */

.player {
  background-color: #282828;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

/* Player Left */

.player-left {
  display: flex;
  align-items: center;
  width: 230px;

}

.player-left img {
  width: 50px;
}

.brano{
  padding: 0 10px;
  flex-grow: 1;
}

footer .player-left a:hover {
  text-decoration: underline;
}

footer .player-left a{
  font-size: 10px;

}

.brano p:first-child{
  color: white;
  font-size: 12px;
}

.player-left .item i:hover {
  color:white;
}

/* Player Center */

.player-center {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ico-timeline {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  transition: transform .2s;
}

.ico-timeline i {
  color: white;
  font-size: 18px;
}

.ico-timeline i.play:hover {
  transform: scale(1.1);
}

.ico-timeline i.play {
  font-size: 28px;
}

.timeline {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.time {
  height: 4px;
  border-radius: 8px;
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
}

.timeline p {
  padding: 20px;
  font-size: 10px;
  color: white;
}

.line {
  height: 4px;
  border-radius: 8px;
  background-color: lightgray;
  width: 21%;
}

.time:hover .line{
  background-color: #9bff00;
}

.player-center .timeline .circle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  display: none;
}
.time:hover .circle{
  display: block;
}

/* Player Right */

.player-right {
  display: flex;
  justify-content:flex-end;
  width: 200px;
}

.player-right .timeline .time {
  align-items: center;
  display: flex;
  width: 100%;
}

.player-right .timeline .line {
  width: 20%;
}

.player-right .timeline .circle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.time:hover .circle{
  display: block;
}

.ico-timeline-right {
  display: flex;
  align-items: center;
}

.ico-timeline-right i {
  padding-right: 10px;
  font-size: 14px;
  color: white;
}

/* Fine Player Right */

@media screen and (max-width: 767px) {

  .ico-timeline-right i {
    font-size: 12px;
  }

  .ico-timeline {
    width: 50%;
  }
}
@media screen and (max-width: 479px) {

  .player-left img {
    width: 25px;
  }
}
